.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.titleBg {
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 30px;
}

.titleBg h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
}

.titleBg h2 {
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

.titleBg p {
  margin: 0;
  padding-top: 15px;
  text-align: center;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 10px;
}

.container {
  align-items: flex-start;
}
.countryCard {
  display: flex;
  flex-wrap: wrap;
  min-width: 20vw;
  margin: 30px;
  border-color: grey;
  border-radius: 10px;
  border: solid;
  width: min-content;
  padding: 20px;
  padding-bottom: 30px;
}

.countryCard h1 {
  margin: 0;
  margin-bottom: 10px;
  margin-left: 3px;
  display: block;
  width:20vw;
}

.tag {
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

.br {
  line-height: 60px;
  display: block;
  margin: 30px;
}

.footer {
  position: relative;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
